/Chapter2/node_modules
/Chapter2/.parcel-cache
/Chapter2/dist
/Chapter4-LayingFoundation/node_modules
/Chapter4-LayingFoundation/.parcel-cache
/Chapter4-LayingFoundation/dist

/Chapter5-ShowMeCode/node_modules
/Chapter5-ShowMeCode/.parcel-cache
/Chapter5-ShowMeCode/dist

/Chapter6-IMP_ReactSetWithBabel/node_modules
/Chapter6-IMP_ReactSetWithBabel/lib/node_modules

/Chapter6-LetsGetHooked/node_modules
/Chapter6-LetsGetHooked/.parcel-cache
/Chapter6-LetsGetHooked/dist

/Chapter8-ExploringTheWorld/node_modules
/Chapter8-ExploringTheWorld/.parcel-cache
/Chapter8-ExploringTheWorld/dist

/Chapter9-IMP_LetsGetClassy/node_modules
/Chapter9-IMP_LetsGetClassy/.parcel-cache
/Chapter9-IMPLetsGetClassy/dist

/Chapter11-OptimizeApp/node_modules
/Chapter11-OptimizeApp/.parcel-cache
/Chapter11-OptimizeApp/dist

/Chapter12_13-JoDikhtaHaiVoBikataHai/node_modules
/Chapter12_13-JoDikhtaHaiVoBikataHai/.parcel-cache
/Chapter12_13-JoDikhtaHaiVoBikataHai/dist

/Chapter15_Jest/node_modules
/Chapter15_Jest/.parcel-cache
/Chapter15_Jest/dist
/Chapter15_Jest/coverage